@import "tailwindcss";

/* Configuração de Cores do Tema (Padrão Tailwind v4) */
@theme {
  --color-background: #121212;
  --color-sidebar: #181818;
  --color-surface: #242424;
  --color-primary: #48b14c;
  --color-primary-hover: #3e9c42;
  --color-text-gray: #a0a0a0;
}

/* Estilos Globais */
body {
  background-color: var(--color-background);
  color: #ffffff;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}